body{
    background-color:white;
    
}
.myclass{
    display:flex;
    justify-content:center;
    align-items: center;
    float: left;
    height: 40vh;
    margin: 30px;
   background-color: antiquewhite;
   font-style:oblique;
}
img{
    float:center;
    height: 350px;
    width: 1530px;

}
button{
    display: flex;
     text-align: center;
     justify-content: center;
     margin: 10px;
     

}
.book{
        font-size: 3em;
        font-family: serif;
        color:red;
        text-align: center;
        animation: animate 1.5s linear infinite;
}    
        @keyframes animate{
            0%{
              opacity: 0;
            }
            50%{
              opacity: 0.7;
            }
            100%{
              opacity: 0;
   
         }
}
p{
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
/*#card{
   width: 500px;
   
    
}*/
nev{
    height: 100px;
    
   
}